
  
  .feed-grid-container {
      display: grid;
      grid-template-columns: 5% 55% 10% 10% 10% 10% ;
      border-bottom: 1px solid gray;
      height: 72px;
    }
  
    .feed-item {
      font-size: 15px;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-overflow: ellipsis;
      color: rgb(211, 211, 211);
      vertical-align: middle;
    }

    